.DS_Store

lib/
venv/
venv2/
venv3/
binaries/

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp
*.json
*.FASTQ
*.fastq
*.bam

*.ct
*.out
*.log
.nfs*
output/
data/
misc/
test/
.vscode/
src/cpp/*.o
src/cpp/*.out
