.DS_Store

build/
holy-build/
tmp/
lib/
venv/
venv2/
venv3/
venv3.6/
binaries/
src/
poa/
old/
builds/

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp
*.json
*.FASTQ
*.fastq
*.fasta
*.bam
*.txt
*.o
*.bed

*.bin
*.fmd
*.fmdi

main
debug
aggregate
PingPong
SVDSS

*.ct
*.out
*.log
.nfs*
data/
misc/
test/
output/
.vscode/
src/cpp/*.o
src/cpp/*.out
experiments/simulation/

!requirements.txt

*~
.snakemake

example
