.DS_Store

lib/
venv/
venv2/
venv3/
venv3.6/
binaries/
src/

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp
*.json
*.FASTQ
*.fastq
*.fasta
*.bam
*.txt
*.o

PingPong
stella
main
debug

*.bin
*.fmd
*.fmdi

main
debug
aggregate

*.ct
*.out
*.log
.nfs*
output/
data/
misc/
test/
.vscode/
src/cpp/*.o
src/cpp/*.out

!requirements.txt
!example/mother.fq
!example/father.fq
!example/child.fq
!example/child_specific.overlapping.fq
!example/child_specific.non_overlapping.fq

*~
.snakemake
