[submodule "src/approach11/sdsl-lite"]
	path = src/approach11/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "src/approach11/KMC"]
	path = src/approach11/KMC
	url = https://github.com/refresh-bio/KMC.git
